<!DOCTYPE html>
<html lang="es">

<head>
    <title>Gestion Academica</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>

        <div th:replace="~{fragmentos/general.html :: navigation}"> </div>

        <div class="input-group mb-3 mx-auto mt-5" style="width: 80%;">
            <h3>Añadir usuarios</h3>

            <form th:action="@{/usuarios/add}" th:object="${usuario}" method="post">
                <div class="border">
                    <div class="row g-3 m-2">
                        <div class="col-md-6">
                            <label class="form-label">Enable: <input type="text" th:field="*{enabled}"
                                    class="form-control" /></label>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">rol: <input type="text" th:field="*{rol}"
                                    class="form-control" /></label>
                        </div>
                    </div>
                </div>
              
                <div class="border">
                    <div class="row g-3 m-2">
                        <div class="col-md-6">
                            <label class="form-label">Nombre de usuario: <input type="text" th:field="*{username}"
                                    class="form-control" /></label>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Contraseña: <input type="password" th:field="*{password}"
                                    class="form-control" /></label>
                        </div>
                    </div>
                </div>
              
                <div class="border">
                    <div class="row g-3 m-2">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <a href="/usuarios" class="btn btn-danger">Cancelar</a>
                        </div>
                    </div>
            </form>

            <div th:replace="~{fragmentos/general.html :: footer}"></div>
        
    </div>
</body>

</html>