<!DOCTYPE html>
<html lang="es">

<head>
  <title>Gestion Academica</title>
  <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>
  <div class="container">
    <div th:replace="~{fragmentos/general.html :: navigation}"> </div>

      <div class="input-group mb-3 mx-auto mt-5" style="width: 100%;">
        <h3 class="mt-5 mx-auto">Lista de Usuarios:</h3>
        <table class="table table-striped mt-2" style="width: 100%;">
          <thead>
            <tr>
              <td>IdUsuario</td>
              <td>Username</td>
              <td>Password</td>
              <td>Rol</td>
              <td>IdAlumno</td>
              <td>IdProfesor</td>
              <td>Enabled</td>
              <td>Acciones</td>
            </tr>
          </thead>
          <tbody>
            <tr th:each="usuario: ${usuarios}">
              <td th:text="${usuario.id}"></td>
              <td th:text="${usuario.username}"></td>
              <td th:text="${usuario.password}"></td>
              <td th:text="${usuario.rol.nombre}"></td>
              <td th:text="${usuario.Alumno != null ? usuario.alumno.id : 'No asignado'}"></td>
              <td th:text="${usuario.Profesor != null ? usuario.profesor.id : 'No asignado'}"></td>
              <td th:text="${usuario.enabled}"></td>
              <td>
                <a class="btn btn-success" th:href="|/usuarios/edit/${usuario.id}|">Editar</a>
                <a class="btn btn-danger" th:href="|/usuarios/delete/${usuario.id}|">Borrar</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  <div th:replace="~{fragmentos/general.html :: footer}"></div>
</body>

</html>